@using Humanizer
@model ValueTuple<Guid, ILookup<Guid, CodeStuff.TalkProposal.Views.Comment>>

@{
    var comments = Model.Item2[Model.Item1].ToArray();
}

@if (comments.Any())
{
    <div>
        @foreach (var comment in comments)
        {
            <div class="ms-4 border-start ps-2">
                <div class="small text-muted">Posted @comment.TimeStamp.Humanize() by @comment.User
                    <i data-comment-id="@comment.CommentId" data-bs-toggle="modal" data-bs-target="#addCommentModal" 
                       class="fa-regular fa-reply text-dark" role="button" title="Reply to this comment"></i> </div>
                <div class="mb-2">@comment.Text</div>
                <partial name="_CommentLayer" model="@((comment.CommentId, Model.Item2))"/>
            </div>
        }
    </div>
}