@page "{proposalId:guid}"
@model CodeStuff.Pages.Propose.Details

@{
    var detail = Model.Detail.Detail;
    var comments = Model.Detail.Comments;
}

<partial name="Shared/AddCommentModal" />

<div class="d-flex">
    <h2>Details for @detail.Title</h2>
    <a class="ms-auto h2" asp-page="./Index"><i class="fa-regular fa-arrow-turn-down-left" title="Return to Proposals"></i></a>
</div>
<div class="mb-2">@detail.Brief</div>
<div class="mb-2">Presented by @detail.Presenter</div>
<div class="mb-2">Not before @detail.ReadyDate.ToShortDateString()</div>
<div class="mt-2">
    <h4>Comments</h4>
    @if (comments.Any())
    {
        <div class="ms-n4 mb-3">
            <partial name="_CommentLayer" model="@((detail.ProposalId, comments.ToLookup(c => c.InReplyTo)))"/>
        </div>
        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addCommentModal">Start a Thread</button>
    }
    else
    {
        <div>There are no comments on this proposal yet. 
            <a href="#" data-bs-toggle="modal" data-bs-target="#addCommentModal">Start the conversation</a> by adding the first comment.</div>
    }
</div>

@section scripts
{
    <script src="~/scripts/shared/addComment.js"></script>
}